@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "OpenSans";
    src: url('fonts/OpenSans-Regular.ttf') format(truetype);
    }
@font-face {
    font-family: "iDroid";
    src: url("fonts/IDroid.otf") format(opentype);
}

* {
    margin: 0px;
}

:root {
    --cor00: #063D1E;
    --cor01: #2FA866;
    --cor02: #3DDC84;
    --cor03: #83e1ad;
    --cor04: #C5EBD6;
    --font00: OpenSans, sans-serif;
    --font01: 'Bebas Neue', cursive;
    --font02: iDroid, sans-serif;
}
body {
    background-color: rgba(184, 184, 94, 0.548);
    font: normal 1em var(--font00);
    color: #000;

}
header {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
    background-image: linear-gradient(to bottom, #3DDC84,#2FA866, #063D1E);

    max-width: 100%;
    height: 270px;
    color: #fff;

}
header > h1 {    
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.61);
}

header > p {
    text-align: center;
}
header > h1 {
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
    font: normal  3em var(--font01);
}
header > p {
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    font: normal 1.8em var(--font00);
}

main > h1 {
    font: 700 3.5em var(--font00);
    padding-left: 90px;
}


main {
    background-color: white;
    box-shadow: 0px 11px 10px 10px #0000003D;
    min-width: 320px;
    max-width: 1317px;
    max-height: 100%;
    margin: 0px auto;
    padding: 20px;
    
}
nav {
    background-color:  #063D1E;
    padding: 15px 0px 15px 0px;
    text-align: left;
    max-width: 100%;
        
}
nav > a {    
    
    text-decoration: none;
    color:var(--cor03);
    font: bold 1.05em var(--font00), sans-serif;
    
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px ;
    transition-duration: 0.3s;
}


nav > a:hover {
    color: var(--cor00);
    background-color: var(--cor02);
    
    
}

#mainTitle {
    color: var(--cor00);
    font: normal 2.5em var(--font02), sans-serif;
    text-align: left;
    padding: 25px 25px 0px 40px;
}


p > strong {
    color: var(--cor00);
}

article > p {
    font:normal 1.5em var(--font00);
    margin: 0px auto;
    max-width: 1000px;
    padding: 25px 0px;
    line-height: 2em;
    text-align: justify;    
    text-indent: 50px;
    
}
h3 {
    color: #0d5e30;
    font: normal 2em iDroid, sans-serif;
    padding: 3px 0px 3px 40px;
    
    text-align: left;
    background-image: linear-gradient(90deg, #6ebb90, transparent 90%);
    background-position: 35px;
    
    

}


img {
    display: block;
    margin: auto;    
    width: 100%;
    
}

.video {
    position: relative;
    background-color: #063D1E;
    padding: 0px 0px 56.23% 0px;
    margin: 0px -20px 20px -20px;
    
   
}

div > iframe {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#bugDroid {
    max-width: 300px;
}

aside {
    background-color: var(--cor03);
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

aside h1 {
    font: bold 3.5em var(--font01);
    background-color: var(--cor00);
    border-radius: 10px 10px 0px 0px;
   
    padding: 5px 0px 5px 15px;
    color: white;
}
aside > p {
    font-size: 1.2em;
    padding: 10px;
    padding: 25px;
    text-indent: 50px;
    line-height: 2em;
    text-align: justify;
}
ul {  
    font-style: bold;
    padding-left: 23px;
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    text-align: justify;
    columns: 2;
}



footer {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
    background-image: linear-gradient(to bottom, #3DDC84,#2FA866, #063D1E);
    width: 100%;
    height: 50px;
    
    
}

footer > p {
    font: normal 1.5em var(--font01);
    color: #e9e1e1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    margin: auto;
    padding-top: 10px;
    text-align: center;
    max-width: 1000px;
}
footer > p > a {
    background-color: transparent;
    
}

footer > p > a::after {
    content: '';
}




p > a {
    color: #83e1ad;
    background-color: #0d5e30;
    text-decoration: none;
    padding-left: 5px;
    border-radius: 2px;
}


p > a::after {
    content: '\1F517';
}

p > a:hover {
    text-decoration: underline;
    
    

}

